.header
{
  display: flex;
  gap: 20px;
  height: 275px;
  justify-content: center;
}
.d-flex
{
  display: flex;
  gap: 0 20px;
  align-items: center;
  justify-content: center;
  width: 50%;
  border-right: 3px solid hsl(200, 100%, 10%);
}

[data-current-icon]
{
  width: 80px;
}

[data-current-temp]
{
  font-size: large;
}
.d-grid
{
  display: grid;
  width: 50%;
  grid-template-columns: repeat(3,auto);
  grid-template-rows: repeat(2,auto);
  align-items: flex-end;
}
.d-grid p
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label
{
  font-weight: bold;
  color: hsl(200, 100%, 20%);
}

.dayCard
{
  display: flex;
  flex-direction: column;
  align-items: center;
  width:80px;
  border:1px solid hsl(200, 100%, 10%);
  border-radius: .25rem;
  padding: .25rem;
}

.flexDown
{
  display: flex;
  flex-direction: column;
}

.alignCenter
{
  align-items: center;
}

.hourRow
{
  background-color: hsl(200, 60%, 70%);
}

.hourRow:nth-child(2n)
{
  background-color: hsl(200, 60%, 75%);
}

.hourRow > td
{
  padding: 0.25rem 0.5rem;
}

.day{
  padding: 20px 0 20px 25%;
  display: flex;
  gap:10px;
}

.header-icon
{
  width: 70px;
  height: 70px;
}